.header-row {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  line-height: 1.43;
}

.header-row .row .div {
  box-sizing: border-box;
  display: table-cell;
}

.container .order-row  {
  padding: 8px;
  border-top: 1px solid #ddd;
}

.container .order-row:nth-child(2n) {
  background-color: rgb(249,249,249);
}

.container .order-row:hover {
  background-color: rgb(245, 245, 245);
}
